        .A101{
            display: flex;
            justify-content: center;
        }
        h3{
            display: flex;
            justify-content: center;
        }
        .A102{
            display: flex;
            justify-content: space-between;
        }
        .A103{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: #EBEBEC;
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }