@import url(./header.css);

.A300_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0 0rem;
}
.container select {
    width: 100%;
}
.breadcrumb {
    background-color: #fff;
}
.tab-content {
    padding-top: 15px;
}
.A300_label {
    font-weight: 400;
    right: 15px;
    font-size: 20px;
    padding: 15px;
}
.A300_label2 {
    margin-left: 22.5rem;
}
.btn-secondary {
    background-color:white;
    color: black;
    border-color: #6c757d;
}
.btn-group {
    position: absolute;
    padding-left: 38rem;
    margin-top:     1rem;
}
.A300_div {
    margin-top: 5rem;
}
td {
    text-align: center;
}
.table td, .table th {
    vertical-align:baseline;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    text-align: center;
    border-bottom: 2px solid #dee2e6;
    padding: 0px;
    white-space: nowrap;
}