@import url(./header.css);

.container{
    width: 100%;
    max-width: 1000px;
}
.searching_bar{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.searching_bar a{
    padding: 0 10px;
}
.searching_bar input{
    width: 50%;
    border-radius: 25px;
    padding: 10px;
}

.searching_bar button{
    margin-left: 10px;
}

.breadcrumb{
    background-color: rgb(255, 255, 255) !important;
    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}
.breadcrumb ol.breadcrumb_list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.breadcrumb ol.breadcrumb_list > li{
    display: inline-block;
    color: gray;
    font-size: 1rem;
}
.breadcrumb ol.breadcrumb_list > li::before{
    content: "/";
    font-size: 18px;
    color: gray;
    margin: 0 10px;
}
.breadcrumb ol.breadcrumb_list > li:first-child::before{
    display: none;
}
.breadcrumb ol.breadcrumb_list > li > a{
    text-decoration: none;
    display: inline-block;
    color: #007bff;
}
.breadcrumb ol.breadcrumb_list > li > a:hover{
    color: #0056b3;
}

.info_detail{
    border: 1px solid #F7F7F7;
}
.section{
    width: 100%;
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
    }
.info{
    display: none;
    width: 100%;
    padding: 10px 10px 10px 10px;
    }

.info p{
    padding: 10px 10px 10px 10px;
    }
th{
    background: #F6EFE2;
    width: 30%;
}
td{
    width: 70%;
}
