main{
    background-color: rgb(255, 245, 233);
}
.smallnav{
    list-style: none;
    background-color: #006865;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; margin: 0;
}
.bg_darkgreen{
    background-color: darkgreen;
}
.bg_navgreen{
    background-color: #008681;
    color: rgb(255, 255, 255);
}
.formnote{
    color: rgb(255, 255, 255);
    background-color: #74291c;
    box-shadow: 0px 0px 1px 1px #ccc;
}
.maintitle>span{
    color:#74291c;
    font-weight: bold;
}
.maintitle{
    margin-left: 22px;
    
}
.contain{
    background-color: rgb(255, 253, 238);
    box-shadow: 0px 0px 1px 1px #ccc;
}

*{
    margin: 0;
    padding: 0;
}



#nav-2 {
    line-height: 3rem;
    background-color: #006865;
    color: white;
}

#nav-2 a{
    color:white;
    text-decoration:none;
    outline: none;
}

#nav-2 a:hover{
    color:rgb(250, 195, 31);
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}