body {
    font-family: 'Roboto', 'Noto Sans TC', arial, sans-serif;
    background: #008681;
}


/* css reset ***************/

* {
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
li,
ol,
article,
aside,
header,
footer,
nav,
section,
nav {
    margin: 0;
    padding: 0;
}


/* header *****************************/

.navbar-collapse {
    flex-grow: 0;
}

header {
    background-color: #008681;
}

#digitalNav {
    color: white;
}

#nav-2 {
    line-height: 3rem;
    background-color: #006865;
    color: white;
}

#nav-2 a {
    color: white;
    text-decoration: none;
    outline: none;
}

#nav-2 a:hover {
    color: rgb(250, 195, 31);
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.searching_icon {
    display: none;
}

@media screen and (max-width:768px) {
    .navbar .container {
        flex-direction: row-reverse;
    }
    .searching_icon {
        display: flex;
    }
}

#fb-icon {
    margin-left: 10px;
    padding-top: 3px;
}

#logo-a {
    width: 200px;
}

#logo-img {
    width: 30%;
}


/* section *****************************/

section {
    background-color: rgb(255, 245, 233);
}

#img-bottom {
    padding: 1rem;
    background-color: rgb(250, 195, 31);
}

#banner-top>img {
    filter: brightness(.5);
}

#banner-top>h3 {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0%);
}

#news>header {
    background-color: rgb(255, 245, 233);
}


/* #news>h4{
    box-shadow: 0px 0px 1px 1px #ccc;
} */

#news>article {
    background-color: rgb(255, 253, 238);
    box-shadow: 0px 0px 1px 1px #ccc;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#news>article>img {
    object-fit: cover;
    object-position: center;
}


/* footer *****************************/

#footer {
    background-color: rgb(250, 195, 31);
    padding: 50px;
}

#footer-content {
    border-left: lightslategray 1px solid;
}